
{% extends 'theme.html' %}
{% block pagetitle %}新增歌曲{% endblock %}


{% block main_content %}

<h1>
{% if new %}新增歌曲{% else %}修改歌曲{% endif %}
</h1>

<form action="/save" method="post">
  <div class="form-group">
    <label>歌名</label>
    <input class="form-control" name="name" placeholder="歌名"
        {% if not new %}value={{ song.name }}{% endif %}>
  </div>

  <div class="form-group">
    <label>歌手</label>
    <input class="form-control" name="artist" placeholder="歌手名"
        {% if not new %}value={{ song.artist }}{% endif %}>
  </div>

  <div class="form-group">
    <label>來源</label>
    <input class="form-control" name="origin" placeholder="來源"
        {% if not new %}value={{ song.origin }}{% endif %}>
  </div>

  <div class="form-group">
    <label>歌詞</label>
    <textarea class="form-control" name="lyrics" rows="10">{% if not new %}{{ song.lyrics }}{% endif %}</textarea>
  </div>

  <button type="submit" class="btn btn-primary">送出</button>
  <a href="/song_list" class="btn btn-success">取消</a>

  <input style="display:none;" name="new" value="{{ new }}">
  {% if not new %}
  <input style="display:none;" name="s_id" value="{{ song.s_id }}">
  {% endif %}
</form>


{% endblock %}<!-- block body -->
