
{% extends 'html_base.html' %}

{% block htmltitle %}
{% block pagetitle %}{% endblock %} - DKG日文歌詞站
{% endblock %}


{% block additional_header %}
<link href="/static/css/main.css" rel="stylesheet">
{% block javascript %}{% endblock %}
{% endblock%}


{% block body %}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <!-- button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button -->
      <a class="navbar-brand" href="/">DKG日文歌詞站</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">

      <!-- ----- Login information ---- -->
      {% if not session.logged_in %}
      <form class="navbar-form navbar-right" action="{{ url_for('login') }}">
        <button type="submit" class="btn btn-success">Login</button>
      </form>
      <p class="navbar-text navbar-right">Hi, 訪客</p>
      {% else %}
      <form class="navbar-form navbar-right" action="{{ url_for('logout') }}">
        <img src="{{ session.google_picture }}" height="30px" width="30px">
        <button type="submit" class="btn btn-success">Logout</button>
      </form>
      <p class="navbar-text navbar-right">Hi, {{ session.google_name }}</p>
      {% endif %}

    </div><!--/.navbar-collapse -->
  </div>
</nav>

<div id="main-content" class="container">
{% block main_content %}{% endblock %}
</div>

{% endblock %} <!-- block body -->

<!-- vim:set ft=htmldjango -->

